html, body {
    height:100vh;
    overflow: hidden; /*ovo uklanja scroll glavni sa desne strane*/
}

.container {
    padding:0; /*ovo je zato sto container bo vueify skida scroll*/
}

#chat {
    height: 90vh;
    box-sizing: border-box;
    overflow-y: scroll;

}

#chat p {
    word-break: break-all;
}

.bubble {
    background: rgb(255, 202, 202);
    box-sizing: border-box;
    padding: 10px;
}

.bubble h4 {
    margin-top: 0;
}

.bubble p {
    margin-bottom: 0;
}

.bubble.myMessage {
    background: rgb(200, 255, 252);
    text-align: right;
}

.bubble.privateMsg {
    background: rgb(235, 255, 198);
}

.bubble.privateSendMsg {
    background: rgb(235, 255, 198);
    text-align: right;
}

#inputArea {
    margin: 0;
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
}

#inputArea .col{
    padding: 0;
}

#inputArea .col .v-input {
    padding-top: 0;
}

#input-area .v-input__slot {
    margin-bottom: 0;
}

#inputArea input {
    border:1px solid #333;
}

#inputArea input:focus {
    border:none;
}

#inputArea .v-input .v-input__control .v-text-field__details {
    display: none;
}

#isTyping {
    position: absolute;
    bottom: 40px;
}

#isTyping .col {
    padding:0 12px;
}

#isTyping .col p {
    margin-bottom: 0;
}