html, body {
    height:100vh;
    overflow: hidden; /*ovo uklanja scroll glavni sa desne strane*/
}

.container {
    padding:0; /*ovo je zato sto container bo vueify skida scroll*/
}

#chat {
    height: 80vh;
    box-sizing: border-box;
    overflow-y: scroll;

}

#chat p {
    word-break: break-all;
}

.bubble {
    background: rgb(255, 202, 202);
    box-sizing: border-box;
    padding: 10px;
}

.bubble h4 {
    margin-top: 0;
}

.bubble p {
    margin-bottom: 0;
}

.bubble.myMessage {
    background: rgb(200, 255, 252);
    text-align: right;
}

.bubble.privateMsg {
    background: rgb(235, 255, 198);
}

.bubble.privateSendMsg {
    background: rgb(235, 255, 198);
    text-align: right;
}

#inputArea .col{
    padding-bottom: 0;
}

#input-area .v-input__slot {
    margin-bottom: 0;
}